<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194118370229-anmvuec9h3ssfb2c7a3536bdlgtmm00o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194118370229-anmvuec9h3ssfb2c7a3536bdlgtmm00o</string>
	<key>API_KEY</key>
	<string>AIzaSyDJTka1LuQ1mFMxv1w2gFO7A4aDx36p_28</string>
	<key>GCM_SENDER_ID</key>
	<string>194118370229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-57454</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-57454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194118370229:ios:839e5a786717e9657a8ffc</string>
</dict>
</plist>